/.idea/caches/deviceStreaming.xml
/.idea/libraries/Dart_Packages.xml
/.idea/libraries/Dart_SDK.xml
/.idea/libraries/Flutter_Plugins.xml
/.idea/.gitignore
/.idea/AndroidProjectSystem.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
